*{
    margin-inline-start: 0;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: rgb(20,20,20);
    padding: 0px 150px;
}
#content{
    background-color: rgb(50, 50, 50);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header{
    background-color: rgb(50, 50, 50);
    font-size: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
}
#header #title {
    font-size: 38px;
    font-weight: 900;
}
#footer{
    background-color: rgb(50, 50, 50);
    font-size: 20px;
    padding: 20px;
    border-top-style: solid;
    border-width: 1px;
}
#pad{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    width: 500px;
    height: 500px;
}
.pixel{
    background-color: rgb(255, 255, 255);
}