*{
    margin-inline-start: 0;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    font-family:'Courier New', Courier, monospace;
    cursor: default;
}
body{
    background-color: rgb(20,20,20);
    padding: 0px 150px;
}
body>#content{
    background-color: rgb(50, 50, 50);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body>#content>#header{
    background-color: rgb(50, 50, 50);
    font-size: 30px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
}
body>#content>#header>#title {
    font-size: 38px;
    font-weight: 900;
}
body>#content>#footer{
    background-color: rgb(50, 50, 50);
    font-size: 20px;
    padding: 20px;
    border-top-style: solid;
    border-width: 1px;
}
#scechy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pad{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    width: 500px;
    height: 500px;
}
.pixel{
    opacity: 0;
}
#padControls{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
}
#padControls>#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
}
#padControls>#buttons>#clear, #resize{
    width: 100px;
    height: 35px;
    background-color: rgb(20,20,20);
    text-align: center;
    align-content: center;
    color: rgb(150,150,150);
    font-size: 18px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#padControls>#buttons>#clear:hover, #resize:hover{
    opacity: 1;
}
#palette{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 auto;
    width: 456px;
    gap: 8px;
}
.selectedSwatch{
    outline-style: solid;
    outline-width: 5px;
    outline-color: rgb(255, 255, 255);
}
.swatch{
    cursor: pointer;
}
#resizeModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
#resizeModal #content{
    position: fixed;
    bottom: 0;
    background-color: rgb(150,150,150);
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#resizeModal #close{
    color: rgb(150,150,150);
    background-color: rgb(20,20,20);
    border: none;
    font-size: 28px;
    font-weight: 900;
    height: 25px;
    display: flex;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#resizeModal #close:hover, #close:focus{
    cursor: pointer;
    opacity: 1;
}
#resizeModal #header{
    padding: 2px 40px;
    background-color: rgb(50, 50, 50);
    color: rgb(150,150,150);
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#resizeModal #header #text{
    font-size: 28px;
    font-weight: 900;
    flex-grow: 1;
    text-align: center;
    padding-left: 25px;
}
#resizeModal #body{
    padding: 0px 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#resizeModal #body p{
    position: absolute;
    bottom: 0;
    font-size: 14px;
}
#resizeModal #sizeSlider{
    appearance: none;
    width: 100%;
    height: 25px;
    background: rgb(50, 50, 50);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
}
#resizeModal #sizeSlider:hover{
    opacity: 1;
}
#resizeModal #sizeSlider::-webkit-slider-thumb{
    appearance: none;
    width: 35px;
    height: 35px;
    background: rgb(20,20,20);
    cursor: pointer;
}
#resizeModal #sizeSlider::-moz-range-thumb{
    width: 35px;
    height: 35px;
    background: rgb(20,20,20);
    cursor: pointer;
}
#resizeModal #footer{
    padding: 20px 50px;
    background-color: rgb(50, 50, 50);
    color: rgb(150,150,150);
    display: flex;
    justify-content: center;
    align-items: center;
}
#resizeModal #gridSize{
    flex-grow: 1;
    text-align: center;
    padding-left: 100px;
    font-size: 24px;
    font-weight: 900;
}
#resizeModal #submit{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 900;
    background-color: rgb(20,20,20);
    color: rgb(150,150,150);
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
#resizeModal #submit:hover{
    cursor: pointer;
    opacity: 1;
}


@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}
@keyframes slideIn{
    from {bottom: -300px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}
@-webkit-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
